<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
            id="com.umlvisualizer.views"
            name="UML Visualizer">
      </category>
      <view
            category="com.umlvisualizer.views"
            class="views.UMLDiagramView"
            icon="icons/uml-icon.png"
            id="views.UMLDiagramView"
            name="UML Class Diagram"
            restorable="true">
      </view>
      <view
            category="com.umlvisualizer.views"
            class="views.SequenceDiagramView"
            icon="icons/sequence-icon.png"
            id="views.SequenceDiagramView"
            name="Sequence Diagram"
            restorable="true">
      </view>
   </extension>
</plugin>